td {
    width: 50%;
    border-collapse: collapse;
}
#first{
    background-color: red;
}
#second{
    background-color: aqua;
}
table{
    width: 100%;
    height: 100vh;
    border-collapse: collapse; 
    border-spacing: 0;
}
html,body{
    margin:0;
    padding:0;
}